#MainWrap {
  width: 100%;
  height: 100vh;
  background: url(./main_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

#path1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 560px;
}
#path2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 175px;
}

#path3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 592px;
}

#path4 {
  position: absolute;
  left: -20px;
  bottom: 95px;
  width: 117px;
}

.leaf {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.leaf img {
  width: 400px;
}

.main_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main_text h2 {
  color: #1f382a;
  font-family: "Brush Script Std";
  font-size: 60px;
}
.main_text h1 {
  margin-bottom: 65px;
}
.main_text button {
  width: 185px;
  height: 64px;
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.main_text button .main_btn {
  width: 185px;
  height: 64px;
  background-color: #fff;
  z-index: 3;
  position: relative;
  transform: all 0.8s cubic-bezier(1, 0, 0.25, 0.995);
  transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);

  border: 1px solid #1f392a;
}
.main_text button:hover .main_btn {
  transform: translate(0.55556vw, 0.55556vw);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.main_text button p {
  font-size: 15px;
  color: #1f392a;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
  letter-spacing: -0.05em;
}
.main_text button img {
  position: absolute;
  top: 11px;
  right: 12px;
}
/*
.main_text button span::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
*/
.main_text button::after {
  content: "";
  width: 185px;
  height: 64px;
  border: 1px solid #1f392a;
  background-color: #1f392a;
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 1;
}

@media (max-width: 1024px) {
  svg {
    display: none;
  }
  .leaf {
    left: 0;
  }
  #MainWrap .m_none {
    display: none;
  }
  #MainWrap .pc_none {
    display: none;
  }
  /* #path1 {
    width: 44.8vw;
  }
  #path2 {
    width: 14vw;
  }
  #path3 {
    width: 47.36vw;
  }
  #path4 {
    width: 9.36vw;
    left: -2vw;
    bottom: 7vw;
  } */
  .shapeImg {
    position: absolute;
  }
  .shape01 {
    left: 0;
    top: 0;
    width: 40vw;
  }
  .shape02 {
    right: 0;
    bottom: 0;
    width: 40vw;
  }
  .leaf img {
    width: 40vw;
  }
  .main_text h1 img {
    width: 67.04vw;
  }
  .main_text h2 {
    font-size: 6.8vw;
  }
  .main_text button {
    width: 26.43vw;
    height: 9.14vw;
  }
  .main_text button .main_btn {
    width: 100%;
    height: 100%;
  }
  .main_text button p {
    font-size: 3vw;
    left: 2.5vw;
    bottom: 2.5vw;
  }
  .main_text button::after {
    display: none;
  }
  .main_text button:hover .main_btn {
    transform: translate(0);
  }
}

/*media query - tablet*/
@media (max-width: 990px) {
}
/*media query - mobile*/
@media (max-width: 766px) {
  #MainWrap {
    height: calc(var(--vh, 1vh) * 100);
  }
  /* #path1 {
    width: 64.8vw;
  }
  #path2 {
    width: 24vw;
  }
  #path3 {
    width: 77.36vw;
  }
  #path4 {
    display: none;
  } */

  .main_text h1 img {
    width: 90vw;
  }
  .main_text h2 {
    font-size: 9vw;
  }
  .main_text button {
    width: 38vw;
    height: 14vw;
  }
  .main_text button .main_btn {
    width: 36vw;
    height: 14vw;
  }
  .main_text button p {
    font-size: 3.7vw;
    left: 3vw;
    bottom: 3.5vw;
  }
  .main_text button::after {
    width: 38vw;
    height: 14vw;
    top: 1vw;
    left: 2vw;
  }
  .main_text button img {
    width: 2.5vw;
    top: 2vw;
    right: 2vw;
  }
}
