.question_inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.question_title {
  text-align: center;
  margin-bottom: 2vw;
}
.question_title h2 {
  font-family: "Brush Script Std";
  font-size: 48.34px;
  color: #1f392a;
  letter-spacing: -0.05em;
}
.question_title p {
  font-size: 14.31px;
  color: #1f392a;
  letter-spacing: -0.05em;
  font-weight: 500;
}

.question_list {
  display: flex;
  justify-content: center;
  /* margin-top: 75px;
  flex-flow: wrap; */
  flex-flow: row wrap;
  gap: 1vw 6.666666666666667%;
  width: 70%;
  margin: 0 auto;
}
.question_list.button_no4 {
  width: 45%;
  gap: 1.5vw 6.666666666666667%;
}
.question_list.button_no7 {
  width: 55%;
  gap: 2vw 4%;
}
.question_list button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  /* margin-right: 47px; */
  width: 20%;
  height: 17vw;
}
.question_list button.button_no4 {
  width: 28.8%;
  height: 15.5vw;
}
.question_list button.button_no7 {
  width: 22%;
  height: 14.5vw;
}
.question_list button .arrow {
  position: absolute;
  top: 11px;
  right: 12px;
  z-index: 5;
}
.question_list button .btn_inner {
  /* width: 297px;
  height: 357px; */
  width: 104.5%;
  height: 100.5%;
  background-color: #f9f6f6;
  z-index: 3;
  position: relative;

  transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
  border: 1px solid #1f392a;
  /* padding: 40px 30px 0; */
  padding: 2vw 1.5vw 0;
}
.question_list button:hover .btn_inner {
  /* transform: translate(8px, 8px); */
  transform: translate(0.4vw, 0.4vw);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.question_list button::after {
  content: "";
  /* width: 297px;
  height: 357px; */
  width: 100%;
  height: 100%;
  border: 1px solid #1f392a;
  background-color: #1f392a;
  position: absolute;
  /* top: 9px;
  left: 14px; */
  top: 0.4vw;
  left: 0.7vw;
  z-index: 1;
}
.question_list button .img_wrap {
  position: relative;
  /* border-radius: 15px; */
  overflow: hidden;
  margin-bottom: 10px;
}
.question_list button .img_wrap img {
  width: 100%;
}
.question_list button p {
  font-size: 20px;
  color: #1f392a;
  font-weight: 500;
}

.question_inner .question_dots {
  width: 200px;
  /* margin: 77px auto 0; */
  margin: 3vw auto 0;
}
.question_inner.button_no7 .question_dots,
.question_inner.button_no4 .question_dots {
  margin: 1vw auto 0;
}

.question_dots .ant-steps-dot {
  display: flex;
  justify-content: center;
  gap: 0 0.5vw;
}

.question_dots .ant-steps-item {
  width: 10px;
  height: 10px;
  background: #c4d7cc;
  float: left;
  border-radius: 50%;
}
.ant-steps-item.ant-steps-item-process.ant-steps-item-active {
  background: #1f392a;
}

/*result*/
.result_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.result_inner .bt_btn {
  display: flex;
  justify-content: center;
  margin: 35px 0 15px;
}
.result_inner .bt_btn button {
  border: none;
  background-color: transparent;
}
.result_inner .bt_btn2 {
  display: flex;
  justify-content: center;
}
.result_inner .bt_btn2 button {
  border: none;
  background-color: transparent;
  font-size: 18.26px;
  color: #1f392a;
  letter-spacing: -0.05em;
  font-weight: 600;
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #1f392a;
}
.slider_wrap {
  /* width: 471px;
  height: 687px; */
  width: 419px;
  height: 580px;
  margin: 0 auto;
  position: relative;
}
.slider_wrap h2 {
  font-family: "Brush Script Std";
  font-size: 48.34px;
  color: #1f392a;
}
.slider_wrap .slick-list {
  text-align: center;
  /* width: 512px;
  height: 722px; */
  width: 425px;
  height: 587px;

  position: relative;
}

.slider_wrap .food_list {
  /* width: 471px !important;
  height: 687px; */
  width: 419px !important;
  height: 580px;
  position: relative;
}
.slider_wrap .food_shadow {
  /* width: 471px;
  height: 687px; */
  width: 419px;
  height: 580px;
  background-color: #281b1b;
  position: absolute;
  top: 7px;
  left: 3px;
  z-index: 1;
}
.slider_wrap .food_list .food_list_inner {
  padding: 20px 0 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  position: relative;
  margin-left: -3px;
  /* margin-left: 7px;
  margin-top: 22px; */
}
.slider_wrap .food_list .foodImg {
  margin: 15px auto 5px;
}
.slider_wrap .text_wrap {
  padding: 0 30px;
}
.slider_wrap .food_title {
  font-size: 37.9px;
  color: #1f392a;
  font-weight: 600;
}
.slider_wrap .food_text {
  font-size: 20.83px;
  color: #1f392a;
  letter-spacing: -0.05em;
  word-break: keep-all;
  line-height: 120%;
}
.slider_wrap .btn_list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.slider_wrap .btn_list button {
  background-color: transparent;
  border: none;
}

.result_inner .prev_btn {
  position: absolute;
  top: 50%;
  left: -102px;
  border: none;
  background-color: transparent;
}
.result_inner .next_btn {
  position: absolute;
  top: 50%;
  right: -143px;
  border: none;
  background-color: transparent;
}

.result_NO {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.result_NO p {
  font-size: 20px;
}

.result_NO button {
  border: none;
  background-color: transparent;
}
