.question_inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.question_title {
  text-align: center;
  margin-bottom: 2vw;
}
.question_title h2 {
  font-family: "Brush Script Std";
  font-size: 48.34px;
  color: #1f392a;
  letter-spacing: -0.05em;
}
.question_title p {
  font-size: 14.31px;
  color: #1f392a;
  letter-spacing: -0.05em;
  font-weight: 500;
}

.question_list {
  display: flex;
  justify-content: center;
  /* margin-top: 75px;
  flex-flow: wrap; */
  flex-flow: row wrap;
  gap: 1vw 6.666666666666667%;
  width: 70%;
  margin: 0 auto;
}
.question_list button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  /* margin-right: 47px; */
  width: 20%;
  height: 17vw;
}
/* .question_list button:last-child {
  margin-right: 0;
} */
.question_list button .arrow {
  position: absolute;
  top: 11px;
  right: 12px;
  z-index: 5;
}
.question_list button .btn_inner {
  /* width: 297px;
  height: 357px; */
  width: 104.5%;
  height: 100.5%;
  background-color: #f9f6f6;
  z-index: 3;
  position: relative;

  transition: transform 0.8s cubic-bezier(1, 0, 0.25, 0.995);
  border: 1px solid #1f392a;
  /* padding: 40px 30px 0; */
  padding: 2vw 1.5vw 0;
}
.question_list button:hover .btn_inner {
  /* transform: translate(8px, 8px); */
  transform: translate(0.4vw, 0.4vw);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.question_list button::after {
  content: "";
  /* width: 297px;
  height: 357px; */
  width: 100%;
  height: 100%;
  border: 1px solid #1f392a;
  background-color: #1f392a;
  position: absolute;
  /* top: 9px;
  left: 14px; */
  top: 0.4vw;
  left: 0.7vw;
  z-index: 1;
}
.question_list button .img_wrap {
  position: relative;
  /* border-radius: 15px; */
  overflow: hidden;
  margin-bottom: 10px;
}
/* .question_list button .img_wrap::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 6px #fff;
  border-radius: 15px;
} */
.question_list button .img_wrap img {
  width: 100%;
}
.question_list button p {
  font-size: 20px;
  color: #1f392a;
  font-weight: 500;
}

.question_dots {
  width: 100%;
  /* margin: 77px auto 0; */
  margin: 3vw auto 0;
}
.question_dots .ant-steps-dot {
  display: flex;
  justify-content: center;
  gap: 0 1.5vw;
}
.question_dots .ant-steps-item {
  width: 10px;
  height: 10px;
  background: #c4d7cc;
  float: left;

  border-radius: 50%;
}

.ant-steps-item.ant-steps-item-process.ant-steps-item-active {
  background: #1f392a;
}

/*result*/
.result_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.result_inner .bt_btn {
  display: flex;
  justify-content: center;
  margin: 35px 0 15px;
}
.result_inner .bt_btn button {
  border: none;
  background-color: transparent;
}
.result_inner .bt_btn2 {
  display: flex;
  justify-content: center;
}
.result_inner .bt_btn2 button {
  border: none;
  background-color: transparent;
  font-size: 18.26px;
  color: #1f392a;
  letter-spacing: -0.05em;
  font-weight: 600;
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #1f392a;
}
.slider_wrap {
  /* width: 471px;
  height: 687px; */
  width: 419px;
  height: 580px;
  margin: 0 auto;
  position: relative;
}
.slider_wrap h2 {
  font-family: "Brush Script Std";
  font-size: 48.34px;
  color: #1f392a;
}
.slider_wrap .slick-list {
  text-align: center;
  /* width: 512px;
  height: 722px; */
  width: 425px;
  height: 587px;

  position: relative;
}

.slider_wrap .food_list {
  /* width: 471px !important;
  height: 687px; */
  width: 419px !important;
  height: 580px;
  position: relative;
}
.slider_wrap .food_shadow {
  /* width: 471px;
  height: 687px; */
  width: 419px;
  height: 580px;
  background-color: #281b1b;
  position: absolute;
  top: 7px;
  left: 3px;
  z-index: 1;
}
.slider_wrap .food_list .food_list_inner {
  padding: 20px 0 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  position: relative;
  margin-left: -3px;
  /* margin-left: 7px;
  margin-top: 22px; */
}
.slider_wrap .food_list .foodImg {
  margin: 15px auto 5px;
}
.slider_wrap .text_wrap {
  padding: 0 30px;
}
.slider_wrap .food_title {
  font-size: 37.9px;
  color: #1f392a;
  font-weight: 600;
}
.slider_wrap .food_text {
  font-size: 20.83px;
  color: #1f392a;
  letter-spacing: -0.05em;
  word-break: keep-all;
  line-height: 120%;
}
.slider_wrap .btn_list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.slider_wrap .btn_list button {
  background-color: transparent;
  border: none;
}

.result_inner .prev_btn {
  position: absolute;
  top: 50%;
  left: -102px;
  border: none;
  background-color: transparent;
}
.result_inner .next_btn {
  position: absolute;
  top: 50%;
  right: -143px;
  border: none;
  background-color: transparent;
}

.result_NO {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.result_NO p {
  font-size: 20px;
}

.result_NO button {
  border: none;
  background-color: transparent;
}

/*결과 없을 때*/
.result_inner.resultNo_inner .slider_wrap .food_list .food_list_inner {
  padding: 0;
  text-align: center;
  position: relative;
}
.result_inner.resultNo_inner .slider_wrap .text_wrap {
  padding: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.result_inner.resultNo_inner .no_title {
  font-size: 27.27px;
  color: #1f392a;
  font-weight: 600;
  letter-spacing: -0.05em;
}
.result_inner.resultNo_inner .no_text {
  font-size: 18px;
  color: #1f392a;
  line-height: 130%;
  margin-top: 15px;
  font-weight: 500;
}
.result_inner.resultNo_inner .no_btn_wrap {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  right: 0;
}
.result_inner.resultNo_inner .bt_btn {
  margin: 20px 0 0;
}

/*--------------media query -----------*/
@media (max-width: 1024px) {
  .question_title h2 {
    font-size: 4vw;
  }
  .question_list {
    width: 90%;
    gap: 1vw 2.5%;
  }
  .question_list button {
    width: 23.125%;
    height: 27vw;
  }
  .question_list button .arrow {
    display: none;
  }
  .question_list button:hover .btn_inner {
    transform: translate(0);
  }
  .result_inner .prev_btn {
    left: 5%;
  }
  .result_inner .next_btn {
    right: 5%;
  }
  .slider_wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .slider_wrap .slick-list {
    width: 60.71vw;
    height: 80.89vw;
  }
  .slider_wrap .food_list {
    width: 59.86vw !important;
    height: 79.86vw;
  }
  .slider_wrap .food_shadow {
    width: 59.86vw;
    height: 82.86vw;
    top: 1.03vw;
    left: 0.85vw;
  }
  .slider_wrap .food_text {
    font-size: 3vw;
  }
  .slider_wrap .btn_list {
    margin-top: 5.5vw;
  }
  .slider_wrap .food_title {
    font-size: 5vw;
  }
  .slider_wrap .text_wrap {
    padding: 0 12%;
  }
  .result_inner .bt_btn button img,
  .slider_wrap .btn_list button img {
    width: 6vw;
  }
  .result_inner .bt_btn2 button {
    font-size: 3vw;
  }
}

/*media query - tablet*/
@media (max-width: 990px) {
  .question_title h2 {
    font-size: 6vw;
  }
  .question_title p {
    font-size: 20px;
  }
  .question_list {
    width: 90%;
    gap: 4vw 4%;
  }
  .question_list button {
    width: 30.6%;
    height: 36vw;
  }
  .question_title {
    margin-bottom: 5vw;
  }
  .question_dots {
    margin: 5vw auto 0;
  }
  .question_list button::after {
    top: 3%;
    left: 5%;
  }
  .question_list button.button_no7 {
    width: 22%;
    height: 26vw;
  }
}
/*media query - mobile*/
@media (max-width: 766px) {
  .question_title h2 {
    font-size: 7vw;
  }
  .question_title p {
    font-size: 3.2vw;
  }
  .question_list {
    gap: 5vw 4%;
  }
  .question_list.button_no4,
  .question_list.button_no7 {
    width: 70%;
  }
  .question_list button p {
    font-size: 4.2vw;
  }
  .question_list button {
    /* width: 48%;
    height: 38.5vw; */
    width: 100%;
    height: 45vw;
    transform: translateX(-2%);
  }
  .question_list button.button_no4,
  .question_list button.button_no7 {
    width: 48%;
    height: 38.5vw;
  }
  .question_list button .img_wrap {
    position: relative;
    overflow: hidden;
  }
  .question_list button.button_no4 .img_wrap,
  .question_list button.button_no7 .img_wrap {
    position: relative;
    overflow: hidden;
    height: 24.53vw;
  }
  .question_list button .img_wrap {
    margin: 0 auto;
    margin-bottom: 1.5vw;
    width: 77%;
  }
  .question_dots {
    width: 100%;
    margin: 5vw auto 0;
  }

  .question_dots .ant-steps-dot {
    display: flex;
    justify-content: center;
    gap: 0 3vw;
  }
  .question_dots .ant-steps-item {
    width: 2vw;
    height: 2vw;
    float: inherit;
    margin: 0;
  }
  .question_list button .btn_inner {
    /* padding: 3.5vw 4.5vw 0; */
    padding: 3.5vw 0 0;
  }
  /* .question_list button .img_wrap::before {
    box-shadow: inset 0 0 0 4px #fff;
    z-index: 1;
  } */

  .question_list button::after {
    top: 4%;
    left: 4%;
    width: 100%;
    height: 99%;
  }
  .question_inner {
    position: relative;
  }
  .slider_wrap .slick-list {
    width: 71.71vw;
    height: 121vw;
  }
  .slider_wrap .food_list {
    width: 68.86vw !important;
    height: 119.86vw;
  }
  .slider_wrap .food_shadow {
    width: 68.86vw;
    height: 122.86vw;
  }
  .slider_wrap .food_list .foodImg {
    width: 80%;
  }
  .slider_wrap .food_title {
    font-size: 6.37vw;
  }
  .slider_wrap .food_text {
    font-size: 4.27vw;
  }
  .result_inner .bt_btn button img,
  .slider_wrap .btn_list button img {
    width: 8vw;
  }
  .result_inner .bt_btn2 button {
    font-size: 4.27vw;
  }
}
