#map_container .cont_inner {
  width: 58%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px 45px;
  background-color: #fff;
  z-index: 11;
}

#map_container .cont_inner .title_wrap {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
}
#map_container .cont_inner .title_wrap h1 {
  font-family: "Brush Script Std";
  font-size: 40px;
  color: #1f392a;
  float: left;
}

#map_container .cont_inner .title_wrap p {
  font-size: 15px;
  width: 246px;
  text-align: center;
  color: #1f392a;
  border: 1px solid rgba(0, 0, 0, 0.36);
  padding: 3px 0 4px;
  border-radius: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#map_container .cont_inner .title_wrap p span {
  display: inline-block;
  margin-right: 6px;
}

#map_cont {
  height: 336px;
}
#map_cont > div {
  float: left;
  height: 100%;
}

#food_list {
  width: 29%;
  margin-right: 2%;
  background-color: #f8c165;
  border-radius: 1em;
  position: relative;
}

#food_list div {
  height: 100%;
  position: relative;
}
#food_list .food_arrows {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}
#food_list .food_arrows button {
  background-color: transparent;
  border: none;
}
#food_list .food_arrows .arrow_prev {
  float: left;
}
#food_list .food_arrows .arrow_next {
  float: right;
}
#food_list .list_wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 10px;
}
#food_list .list_wrap img {
  width: 70%;
  margin: 0 auto;
}
#food_list .list_wrap .list_text {
  position: absolute;
  height: auto;
  width: 100%;
  text-align: center;
  bottom: 20px;
  left: 0;
  padding: 0 10px;
}
#food_list .list_wrap .list_text .text1 {
  font-size: 27px;
  color: #fff;
  font-weight: 500;
}
#food_list .list_wrap .list_text .text2 {
  font-size: 14.5px;
  color: #fff;
  word-break: keep-all;
  font-weight: 300;
  line-height: 120%;
}
#map {
  width: 69%;
  position: relative;
  border-radius: 1em;
}
#map.resultNo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/resultNo.png) no-repeat rgba(0, 0, 0, 0.87);
  background-size: contain;
  z-index: 9999;
  background-position: center;
}

#map .marker {
  background-color: gray;
}

#crawling {
  width: 100%;
  height: 305px;
  position: relative;
  border-top: 1px solid #f7f7f7;
  margin-top: 15px;
  padding-top: 12px;
}
#crawling .before_cr {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #f7f7f7;
  border-radius: 1em;
}
#crawling .before_cr > div {
  width: 100%;
  text-align: center;
}
#crawling .before_cr > div p {
  font-size: 23px;
  color: #b2b2b2;
  margin-top: 10px;
  letter-spacing: -0.035em;
}
#crawling.isCheck .before_cr {
  display: none !important;
}

#crawling .checked_cr .slick-slide > div {
  padding: 15px 25px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
}
#crawling .checked_cr .slick-slide a {
  color: #1f392a;
  letter-spacing: -0.035em;
  font-size: 18px;
  text-decoration: none;
}
/*
#crawling .checked_cr .slick-dots {
  display: flex !important;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
#crawling .checked_cr .slick-dots button {
  display: block;
  width: 7px;
  height: 7px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #e5e5e5;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0 6px;
}
#crawling .checked_cr .slick-dots li.slick-active button {
  background-color: #1f392a;
} */

#crawling .checked_cr .place_title {
  position: relative;
  padding: 10px 25px 20px;
}
#crawling .checked_cr .place_title h3 {
  float: left;

  font-size: 25px;
  color: #1f392a;
  letter-spacing: -0.035em;
  font-weight: 500;
}
#crawling .checked_cr .place_title .place_info {
  float: right;
}
#crawling .checked_cr .place_title .place_info p {
  display: inline-block;
}
#crawling .checked_cr .place_title .place_info .txt1 {
  font-size: 15px;
  color: #868686;

  margin-right: 18px;
  letter-spacing: -0.035em;
  vertical-align: middle;
}
#crawling .checked_cr .place_title .place_info .txt2 {
  font-size: 15px;
  color: #1f392a;
  padding: 5px 10px;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.36);
  letter-spacing: -0.035em;
  border-radius: 30px;
}
#crawling .checked_cr .place_title .place_info .txt2 span {
  font-weight: 600;
}
#crawling .checked_cr .cr_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#crawling .checked_cr .cr_nav ul {
  display: flex !important;
  justify-content: center;
  margin: 0;
  padding: 3px 5px 0;
  list-style-type: none;
  width: auto;
}
#crawling .checked_cr .cr_nav ul button {
  display: block;
  width: 7px;
  height: 7px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #e5e5e5;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0 6px;
}
#crawling .checked_cr .cr_nav ul li.slick-active button {
  background-color: #1f392a;
}
#crawling .checked_cr .cr_nav .arrows {
  color: #1f392a;
  cursor: pointer;
}

.black_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.68);
  display: none;
  z-index: 10;
}
.black_bg.show {
  display: block;
}
.close_btn {
  position: fixed;
  top: 5%;
  right: 10%;
  display: none;
  color: #fff;
  font-size: 30px;
  z-index: 99;
  background-color: transparent;
  border: none;
}
.close_btn.show {
  display: block;
}

@media (max-width: 1024px) {
  #map_container .cont_inner {
    width: 90%;
  }
  #map_cont > div {
    float: inherit;
  }
  #map_container .cont_inner .title_wrap p {
    font-size: 17px;
  }
  #map_cont {
    height: auto;
  }
  #map {
    width: 100%;
    margin: 10px 0;
    float: inherit;
    height: 40vw !important;
    border-radius: 0.7em;
  }
  #food_list {
    width: 100%;
    height: auto !important;
    margin-right: 0;
    border-radius: 0.7em;
  }

  #food_list .list_wrap {
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
    padding: 15px 10px;
  }
  #food_list .list_wrap .list_text .text1 {
    font-size: 25px;
  }
  #food_list .list_wrap img {
    display: none;
  }
  #food_list .list_wrap .list_text {
    position: relative;
    bottom: inherit;
    left: inherit;
  }
  #food_list .list_wrap .list_text .text2 {
    display: none;
  }
  #crawling {
    margin-top: 0;
    height: 38vw;
  }
  #crawling .before_cr {
    border-radius: 0.7em;
  }
  #map_container .cont_inner .title_wrap p {
    border-radius: 2em;
  }
  .marker_text {
    font-size: 15px !important;
  }
  #crawling .checked_cr .place_title .place_info .txt1 {
    font-size: 18px;
    vertical-align: inherit;
  }
  #crawling .checked_cr .place_title .place_info .txt2 {
    font-size: 16px;
  }
  #crawling .checked_cr .slick-slide a {
    font-size: 20px;
  }
  .black_bg::before {
    right: 5%;
  }
}

/*media query - tablet*/
@media (max-width: 990px) {
}

/*media query - mobile*/
@media (max-width: 766px) {
  #map_container .cont_inner {
    width: 100%;
    padding: 9vw 7% 10vw;
    position: relative;
    top: inherit;
    left: 0;
    transform: inherit;
  }
  #map_container .cont_inner .title_wrap h1 {
    float: inherit;
    display: block;
    font-size: 9vw;
    text-align: center;
  }
  #map_container .cont_inner .title_wrap p {
    float: inherit;
    position: relative;
    left: inherit;
    top: inherit;
    transform: inherit;
    margin: 1.5vw auto 0;
    font-size: 3.5vw;
    width: 70%;
  }
  #map_container .cont_inner .title_wrap {
    margin-bottom: 4vw;
    padding-bottom: 4.5vw;
  }
  #food_list .list_wrap {
    padding: 2vw 0;
  }
  #food_list .list_wrap .list_text .text1 {
    font-size: 6.37vw;
  }
  #map {
    height: 70vw !important;
  }
  #map.resultNo::before {
    background-size: 160%;
  }
  #crawling .checked_cr .place_title h3 {
    font-size: 5.5vw;
    display: block;
    width: 100%;
  }
  #crawling .checked_cr .place_title .place_info .txt1 {
    font-size: 4.1vw;
    margin-right: 0;
  }
  #crawling .checked_cr .place_title .place_info .txt2 {
    font-size: 3.5vw;
    position: absolute;
    top: 2vw;
    right: 0;
    padding: 0.5vw 2vw;
  }
  #crawling .checked_cr .place_title .place_info {
    float: left;
  }
  #crawling .checked_cr .place_title {
    padding: 1vw 0;
    margin-bottom: 4.67vw;
  }
  #crawling .checked_cr .slick-slide a {
    font-size: 4.38vw;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #crawling .checked_cr .slick-slide > div {
    padding: 3vw 3.5vw;
  }
  #crawling {
    height: 70vw;
  }
  #crawling .before_cr img {
    width: 16.36vw;
  }
  #crawling .before_cr > div p {
    font-size: 4.87vw;
  }
  #map_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 15;
    background-color: #fff;
    overflow-y: scroll;
  }
  .close_btn {
    color: #000;
    font-size: 7vw;
    top: 1%;
    right: 7%;
  }
  #crawling .checked_cr .cr_nav {
    margin-top: 3vw;
  }
  .result_inner .slider_btn img {
    width: 4vw;
  }
}
