#map_container .cont_inner {
  width: 58%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 45px 40px 50px;
  background-color: #fff;
}

#map_container .cont_inner .title_wrap {
  position: relative;
  margin-bottom: 25px;
}
#map_container .cont_inner .title_wrap h1 {
  font-family: "Brush Script Std";
  font-size: 43px;
  color: #1f392a;
  float: left;
}

#map_container .cont_inner .title_wrap p {
  font-size: 15px;
  width: 246px;
  text-align: center;
  color: #1f392a;
  border: 1px solid rgba(0, 0, 0, 0.36);
  padding: 3px 0 4px;
  border-radius: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#map_container .cont_inner .title_wrap p span {
  display: inline-block;
  margin-right: 6px;
}

#map_cont {
  height: 336px;
}
#map_cont > div {
  float: left;
  height: 100%;
}

#food_list {
  width: 29%;
  margin-right: 2%;
  background-color: #f8c165;
}

#food_list div {
  height: 100%;
}

#map {
  width: 69%;
  position: relative;
}
#map.resultNo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/resultNo.png) no-repeat rgba(0, 0, 0, 0.87);
  background-size: cover;
  z-index: 9999;
}

#map .marker {
  background-color: gray;
}

#crawling {
  width: 100%;
  height: 305px;
  background-color: #f7f7f7;
}
#crawling .before_cr {
  display: flex;
  align-items: center;
  height: 100%;
}
#crawling .before_cr > div {
  width: 100%;
  text-align: center;
}
#crawling .before_cr > div p {
  font-size: 23px;
  color: #b2b2b2;
  margin-top: 10px;
  letter-spacing: -0.035em;
}
#crawling.isCheck .before_cr {
  display: none !important;
}
#crawling .checked_cr {
  padding-top: 35px;
}
#crawling .checked_cr h3 {
  padding-left: 25px;
  font-size: 25px;
  color: #1f392a;
  letter-spacing: -0.035em;
}
/* #crawling .slick-slide.slick-active {
  width: 100% !important;
  float: inherit !important;
}
#crawling .slick-slide > div {
  width: 100%;
}
#crawling .slick-slide > div > div {
  display: block !important;
} */
